main{
    border: 1px solid #ccc;
    padding: 10px 0 10px 0;
}

fieldset{
    border: 1px solid #ccc;
    padding-left: 10px;
}

#sec {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
      display: block;
}

#area {
    height: 600px;
    padding-top: 35px;
    padding-bottom: 50px;      
}

#back1 {
    width: 600px;
    height: 58px;
    background-color: rgba(117, 215, 242, 0.85); 
}

#titulo {
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    padding: 13px;
    vertical-align: center;
    text-align: center;
    width: 600px;
    height: 58px;           
}

.margin {
    padding-bottom: 30px;
}

#back2 {    
    width: 600px;
    height: 58px;          
}

#subtitulo {
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    padding:17px;
    text-align: center;
    width: 600px;
    height: 58px;
    background-color: rgba(232, 228, 132, 0.85);         
}

#data{
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    font-size: 18px;    
}

#hora{
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    font-size: 18px;    
}

#tel{
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    font-size: 18px;    
}

#local{
    margin-bottom: 0px;
    font-weight: bold;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    font-size: 18px;    
}

#txtopc{
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    font-size: 18px;
}

input[type=text]{
    width:250px;
}

input{
    margin-bottom: 2px;
}

select{
    margin-bottom: 20px;
    width: 100px;
}

#face{
    width: 60px;
    height: 60px;
    background-color: darkgreen;
}